<!-- new-forum-view -->

<div>
	<div class="container">
	<div>
	
	<div class="col-md-4" ng-repeat="forum in ctrl.forums">
	<div>
	<div>
	<h4>{{forum.forumName}}</h4>
	<p>Written By : {{forum.userId}}</p>
	<div>
	
	<input  ng-show="currentUser.role=='ADMIN' && forum.forumStatus=='N'"type="button" class="btn btn-info floatright"
	ng-click="ctrl.approveForum(forum,forum.forumId)" 
      value="Approve Forum..">
      
      <div>
	<h4><a><span><i class="fa fa-rss" aria-hidden="true"></i></span>{{forum.forumName}}</a></h4>
<ul style="text-align: center;">
<li><a><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;{{forum.forumCountLike}}</a></li>
		</ul>
		</div>
      
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      