
<div id="forum-page">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-uppercase" id="forum-name"><a href="#">~~ Forum ~~</a></h1>
            <h4>{{selectedForum.forumName}}</h4>
            <h4>Written By : {{selectedForum.userId}} &nbsp;&nbsp;   <br>On : {{selectedforum.forumCreationDate}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div id="forum-area">
              <h3 class="entry-title"> <i class="fa fa-flag fa-fw">{{selectedForum.reason}}</i> </h3>
              <p>{{selectedForum.description}}</p>
              
               
         <!-- Middle Column -->
    <div class="w3-col m9">
    
      
      
      <div class="w3-container w3-card w3-white w3-round w3-margin"   ><br>
        <img src="resources/images/male.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">{{selectedForum.forumCreationDate|date}}</span>
        <h4>{{selectedForum.userId}}</h4><br>
        <hr class="w3-clear">
        <h4>{{selectedForum.forumName}}</h4>
        <p>{{selectedForum.forumDescription}}</p>
         <p class="author text-right">
                <strong>Best regards</strong><br>
                <small>{{selectedForum.userId}}</small>
              </p>
        <div>
       <li><a><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;{{forum.forumUserCount}}</a></li>
		</div>
	
      
        <br>
        
        <form name="myForm" ">
        <div class="one">
        
		<input type="text" name="comment" class="form-control" required placeholder="Write your comment here..." ng-model="ctrl.forumComment.forumComment" />
		</div>
		<br>
		<div>
					
		<button  type="button" ng-click="ctrl.createForumComment(ctrl.forumComment, selectedForum.forumId);"  class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-comments-o"></i> Comment</button>
		</div>
		</form> 
        
        
        
        
        
        
         
      </div>  
      
      
      
      
      
      
       <div class="w3-container w3-card w3-white w3-round w3-margin"  ng-repeat="forumComment in SelectedForumComments "> <br>
        <img src="resources/images/male.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">{{forumComment.forumCommentDate|date}}</span>
        <h4>{{forumComment.userName}}</h4><br>
        <h4>{{forumComment.forumComment}}</h4>
        <hr class="w3-clear">
        <p>{{forumComment.forumCommentId}}</p>
        
         
      </div> 
      
      
	
      
      
    <!-- End Middle Column -->
    </div>
    
     
     
     
            </div><!-- /forum-area -->
          </div><!-- /col-md-8 -->
          
          
          
         
        </div>
      </div>
    </div>