<!-- all-job-view -->
<center><h2 style="color:blue;"><u> JOBS </u></h2></center>
<div class="jobs">
	<div class="container">
		<div class="job-all-grids">
			<div ng-show="currentUser.role=='ADMIN'">
				<div class="col-md-4 jobs-grid" ng-repeat="job in ctrl.jobs">
					<div class="job-all">
						<div class="job-all-sub frame">
						    
							<h3 style="color:blue;">JOB AT : {{job.companyName}}</h3>
							<h4 style="color:blue;">LOCATION : {{job.location}}</h4>
							<div class="more">
							
							
<input type="button" class="btn btn-info floatright"
	ng-click="ctrl.getSelectedJob(job.jobId)" 
      value="JOB DETAILS..">
								
								<!-- <a  ng-click="ctrl.getJob(job.id)"><input	type="button" class="btn btn-info btn-more"
									 value="JOB DETAILS"></a>
								 -->
							</div>
						</div>
						<div class="p-mask">
						    <h4>
								<a style="color:blue;"><span><i class="fa fa-rss" aria-hidden="true"></i></span>SKILLS REQUIRED : {{job.description}}</a>
							</h4>
							
							<ul style="text-align: center;">
								<li><a style="color:blue;"><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;<h4>POSTED ON : {{job.jobDate | date}}</h4></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div ng-hide="currentUser.role=='ADMIN'">
				<div class="col-md-4 jobs-grid" ng-repeat="job in ctrl.jobs"
					>
					<div class="job-all">
						<div class="job-all-sub frame">
							<h3 style="color:blue;">JOB AT : {{job.companyName}}</h3>
							<h4 style="color:blue;">LOCATION : {{job.location}}</h4>
							<div class="more">
								<input ng-click="ctrl.getJob(job.jobId)" type="button" class="btn btn-info btn-more"
									 value="JOB DETAILS">
							</div>
						</div>
						<div class="p-mask">
						    <h4>
								<a style="color:blue;"><span><i class="fa fa-rss" aria-hidden="true"></i></span>SKILLS REQUIRED : {{job.description}}</a>
							</h4>
							
							<ul style="text-align: center;">
								<li><a style="color:blue;"><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;<h4>POSTED ON : {{job.jobDate}}</h4></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
