

<div ng-controller="FriendController as ctrl">
	<h2>Welcome to Friend Management..</h2>
	{{message}}

	<center>
		<h2 style="color: black;">
			<u> My Friends </u>
		</h2>
	</center>
	<div class="friend">
		<div class="container">
			<div class="blog-all-grids">

				<div>
					<div class="col-md-4 blogs-grid" ng-repeat="friend in ctrl.friends">

						<div class="blog-all">
							<div class="blog-all-sub frame">
								<br>
								<h3 ng-show='currentUser.userId!=friend.userId'>{{friend.userId}}</h3> 
								<h3 ng-show='currentUser.userId==friend.userId'>{{friend.friendId}}</h3>

								<h6>Active : {{friend.isOnline}}</h6>



							</div>
						</div>


						<input type="button" class="btn btn-info btn-more"
							ng-click="ctrl.unFriend(friend, friend.friendId)"
							value="Unfriend">
							
						<input type="button" class="btn btn-success btn-more"
							ng-click="ctrl.getSelectedFriend(friend, selectedFriend.userId)"
							value="Show profile">
							

					</div>
				</div>


			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
</div>
</div>

<center>
	<h2 style="color: black;">
		<u> New Friend Requests </u>
	</h2>
</center>
<div class="friends">
	<div class="container">
		<div class="friend-all-grids">


			<div>

				<div class="col-md-4 blogs-grid" ng-repeat="friend in $rootScope.newFriendRequests">
				<div	>


					<div class="friend-all">
						<div class="friend-all-sub frame">
							<br>
							<h3>{{friend.userId}}</h3> 
							
							



						</div>
					</div>
					<input type="button" class="btn btn-info btn-more"
						ng-click="ctrl.acceptFriend(friend, friend.userId)"
						value="acceptFriend">
						</div>
				</div>
			</div>
		</div>



		<div class="clearfix"></div>
	</div>
</div>


