<div id="create-blog">
	<div class="container">
		<div>
			<div>
<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
<div ng-show='ctrl.blog.errorMessage!=""'>
<div>Error :
		{{ctrl.blog.errorMessage}}</div>
</div>
<fieldset>
	<legend>Create Blog</legend>
	<div>
<form ng-submit="ctrl.submit()" name="myForm" >
<div>
<input type="text" name="title" required pattern=".{5,50}"
	placeholder="Title of the Blog" ng-model="ctrl.blog.blogTitle">
</div>


<div class="one">
<textarea type="text" name="content" required pattern=".{5,25}"
placeholder="Content ..." ng-model="ctrl.blog.blogContent" ></textarea>
</div>
<div>
<input type="submit" class="btn btn-info floatright" value="submit">
</div>
</form>
</div>
</fieldset>
</div>
			</div>
		</div>
	</div>
</div>