

<div>
   <div class="container">
   <div class="row">
   <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
   <h1><a style="color: #efefef; text-decoration: none;">{{selectedBlog.blogTitle}}</a></h1>
<h4>Written By : {{selectedBlog.userId}} &nbsp;&nbsp;   On : {{selectedBlog.blogDate | date}}</h4>
 </div>
 </div>
<div class="row">
 <div>
  <div>
   <h3><i class="fa fa-cube">{{selectedBlog.blogTitle}}</i></h3>
       <p>{{selectedBlog.blogContent}}</p>
       <p><strong>Best regards</strong><br>
         <small>{{selectedBlog.userId}}</small>
       </p>
     </div><!-- /blog-area -->


<!-- Middle Column -->
    <div class="w3-col m9">
    
      
      
      <div class="w3-container w3-card w3-white w3-round w3-margin"   ><br>
        <img src="resources/img/atomix_user31.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">{{selectedBlog.blogDate|date}}</span>
        <h4>{{selectedBlog.userId}}</h4><br>
        <hr class="w3-clear">
        <h4>{{selectedBlog.blogTitle}}</h4>
        <p>{{selectedBlog.blogContent}}</p>
         <p class="author text-right">
                <strong>Best regards</strong><br>
                <small>{{selectedBlog.userId}}</small>
              </p>
        <div>
       <li><a><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;{{blog.blogCountLike}}</a></li>
		</div>
	
      
        <br>
        
        <form name="myForm" ">
        <div class="one">
        
		<textarea  type="text" name="comment" class="form-control" required placeholder="Write your comment here..." ng-model="ctrl.blogComment.blogComment"></textarea>
		</div>
		<br>
		<div>
					
		<button  type="button" ng-click="ctrl.createBlogComment(ctrl.blogComment, selectedBlog.blogId);"  class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-comments-o"></i> Comment</button>
		</div>
		</form> 
        
        
        
         <div class="w3-container w3-card w3-white w3-round w3-margin"  ng-repeat="blogComment in SelectedBlogComments "> <br>
        <img src="resources/img/atomix_user31.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">{{blogComment.blogDate|date}}</span>
        <h4>{{blogComment.userId}}</h4><br>
        <h4>{{blogComment.blogComment}}</h4>
        <hr class="w3-clear">
        <p>{{blogComment.blogCommentId}}</p>
        
         
      </div> 
      
        
    


          </div><!-- /col-md-8 -->
          
          
          </div><!-- /col-md-4 -->

        </div>
      </div>
    </div>
    </div>
    