<div id="login">
	<div class="container">
		<div>
			<div>
<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
<div ng-show='ctrl.user.errorMessage!=""'>
<div>Error :
		{{ctrl.user.errorMessage}}</div>
</div>
<fieldset>
	<legend>Login Page</legend>
	<div>
<form ng-submit="ctrl.authenticateUser(ctrl.user)" name="myForm" >

<table>

          <tr>
            <td>User Id:</td>
            <td><input type="userId" name="userId" required pattern=".{3,25}"
            placeholder="User Id ..." ng-model="ctrl.user.userId" required/></td>
          </tr>
         
         <tr>
            <td>Password:</td>
            <td><input type="password" name="password" required pattern=".{5,25}"
            placeholder="Password of the user ..." ng-model="ctrl.user.password" required/></td>
          </tr>
          
          
         <tr>
         <br><br>
            <td><input type="submit" class="btn btn-info floatright" value="submit"></td>
            
         </tr>
      </table>
  </form>
</div>
</fieldset>
</div>
			</div>
		</div>
	</div>
</div>